@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Cinzel", serif;
}
